.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.padding {
    padding: 10px
}

.tableCss {}
.tagCss{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin: 5px;
}
.tagcss{
    flex: 1;
    margin: 5px;
    transition: 0.3s;
}
.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 10px auto;
}

.programsCss {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
}

.prog {
    flex: 1;
    margin: 2px;
    transition: 0.3s;
}

@media screen and (max-width: 980px) {
    .programsCss .prog {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
}